{% extends 'base.html' %}
{% block title %}Add Student{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"><strong>Add Student</strong></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form method="POST">
                {% csrf_token %}
                <div class="row p-2">
                  <div class="col-md-6">
                    <label for="">Registration Number</label>
                    <div class="form-group">
                      {{ form.reg_num }}
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Email Address</label>
                    <div class="form-group">
                      {{ form.email }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">First Name</label>
                    <div class="form-group">
                      {{ form.first_name }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Last Name</label>
                    <div class="form-group">
                      {{ form.last_name }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Institution</label>
                    <div class="form-group">
                      {{ form.institution }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Course</label>
                    <div class="form-group">
                      {{ form.course }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Gender</label>
                    <div class="form-group">
                      {{ form.gender }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Guardian</label>
                    <div class="form-group">
                      {{ form.guardian }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Date of Birth</label>
                    <div class="form-group">
                      {{ form.date_of_birth }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">Status</label>
                    <div class="form-group">
                      {{ form.status }}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="modal-footer justify-content-between">
                      <a href="{% url 'students' %}" type="button" class="btn btn-danger">Back</a>
                      <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
