{% extends 'base.html' %} {% block title %}Institution List{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Institutions</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#add-institution"
                >
                  <i class="fa fa-plus"></i>
                  Add
                </button>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px">
                    <input
                      type="text"
                      name="table_search"
                      class="form-control float-right"
                      placeholder="Search"
                    />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Website</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for institution in institutions %}
                    <tr>
                      <td>{{ institution.name }}</td>
                      <td>{{ institution.address }}</td>
                      <td>{{ institution.website }}</td>
                      <td>{{ institution.location }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="add-institution">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Institution</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Institution Name</label>
                  <input type="text" class="form-control" name="name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" class="form-control" name="address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Website</label>
                  <input type="text" class="form-control" name="website">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Location</label>
                  <input type="text" class="form-control" name="location">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Year founded</label>
                  <input type="text" class="form-control" name="year_founded">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Institution Type</label>
                  <input type="text" class="form-control" name="institution_type">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Vision</label>
                  <input type="text" class="form-control" name="vision">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
