{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="fas fa-university"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Institutions</span>
          <span class="info-box-number">{{ institutions.count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fas fa-user-graduate"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Students</span>
          <span class="info-box-number">{{ students.count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fas fa-book-reader"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Courses</span>
          <span class="info-box-number">{{ courses.count }}</span>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
